<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrar - Mundo Orgânico</title>
    <link rel="shortcut icon" type="image/png" href="../templates/assets/img/Group 16.png"/>
    <link rel="stylesheet" href="../templates/assets/css/style.css">
    <link rel="stylesheet" href="../templates/assets/css/bootstrap.min.css">
</head>
<body class="d-flex flex-column h-100 w-100">

    <header>
       
    </header>

    <main class="bg-grey">
        <div class="row align-items-center">

            <div class="col fundImg">
                <img src="../templates/assets/img/login.png" alt="" style="width: 862px;">
            </div>

            <div class="col pb-5 ps-5">
                <h2 class="col-13 text-center fw-semibold">Iniciar sessão</h2>
                <form method="" action="">
                    <div class="g-3">
                        <div class="col-13 pt-5">
                            <label class="form-label hh">Email</label>
                            <input class="Text" type="email" required>
                        </div>
            
                        <div class="col-13 pt-2">
                            <label class="form-label hh">Senha</label>
                            <input class="Text" type="password" required>
                        </div>

                        <div class="pb-5 hh pt-1">
                            <a href="#" class="nav-link">
                                Esqueceu a senha?
                            </a>
                        </div>

                        <div class="bott col-13">
                            <button class="button-w fw-bold py-wh-1 col-5" type="submit">
                                Entrar
                            </button>
                        </div>

                        <div class="text-center col-13 pt-3">
                            <p>Não tem conta?
                                <a href="#" class="fw-semibold link-green" style="text-decoration:none">
                                    Inscrever-se
                                </a>
                            </p>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </main>
</body>
</html>