<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redefinir senha - Mundo Orgânico</title>
    <link rel="shortcut icon" th:href="@{/img/Group 16.png}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body class="d-flex flex-column h-100 w-100">

    <header th:replace="fragments/headerLogin :: header_login"></header>

    <main class="bg-grey">
        <div class="row align-items-center">

            <div class="col fundImg">
                <img th:src="@{/img/login.png}" style="width: 862px;">
            </div>

            <div class="col pb-5 ps-5">
                <h2 class="col-13 text-center fw-semibold">Problemas para <br> acessar? </h2>
                <form method="post" th:action="@{/#}">
                    <div class="g-3">
                        <div th:if="${!#strings.isEmpty(msgErro)}" class="mensss pt-3">
                            [[${msgErro}]] 
                        </div>

                        <div class="col-13 pt-4 pb-1">
                            <label class="form-label hh">Email</label>
                            <input class="Text" type="email" name="email" required>
                        </div>

                        <div class="col-13">
                            <p class="hh-2 text-center">Insira o seu email para procurarmos a sua conta.</p>
                        </div>

                        <div class="bott col-13 pt-5">
                            <button class="button-w fw-bold py-wh-1 col-5" type="submit">
                                Buscar
                            </button>
                        </div>

                        <div class="text-center col-13 pt-3">
                            <p>
                                <a th:href="@{/cadastro}" class="fw-semibold link-green" style="text-decoration:none">
                                    Criar nova conta
                                </a>
                            </p>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </main>
</body>
</html>