<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastre-se - Mundo Orgânico</title>
    <link rel="shortcut icon" th:href="@{/img/Group 16.png}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body class="d-flex flex-column h-100 w-100">
    <header th:replace="fragments/headerLogin :: header_login"></header>
    
    <main class="bg-grey">
        <div class="row align-items-center">
            <div class="col fundImg">
                <img th:src="@{/img/login.png}" style="width: 862px;">
            </div>

            <div class="col pb-2 ps-5">
                <h2 class="col-13 text-center fw-semibold">Basta se cadastrar <br> para comprar!</h2>
                <form method="post" th:action="@{/salvarUser}">
                    <div>
                    <div th:if="${!#strings.isEmpty(msgError)}" class="mensss pt-3">
                        [[${msgError}]]
                    </div>
                        <div class="col-13 pt-5">
                            <label class="form-label hh">Nome Completo</label>
                            <input class="Text" type="text" name="name" required>
                        </div>
            
                        <div class="row g-2 pt-2 col-13">
                            <div class="col-sm-3">
                                <label class="form-label hh">DDD</label>
                                <input class="Text" type="text" name="ddd">
                            </div>
                            <div class="ps-3 col">
                                <label class="form-label hh">Celular</label>
                                <input class="Text" type="text" name="cellphone" required>
                            </div>
                        </div>

                        <div class="col-13 pt-2">
                            <label class="form-label hh">Email</label>
                            <input class="Text" type="email" name="email" required>
                        </div>

                        <div class="col-13 pt-2">
                            <label class="form-label hh">Senha</label>
                            <input class="Text" type="password" name="password" minlength="8" required>
                        </div>

                        <div class="col-13 pt-2 pb-5">
                            <label class="form-label hh">Confirmar senha</label>
                            <input class="Text" type="password" name="passwordValid" minlength="8" required>
                        </div>

                        <div class="bott col-13">
                            <button class="button-w fw-bold py-wh-1 col-5" type="submit">
                                Confirmar
                            </button>
                        </div>
                    </div>
                </form>
                <div class="text-center col-13">
                    <small>
                        Ao se registrar, você aceita os
                        <a href="#" class="nav-link link-green"> 
                            Termos e Condições e as Políticas de Privacidade.
                        </a>
                    </small>
                </div>
            </div>

        </div>
    </main>
</body>
</html>