<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> - Mundo Orgânico</title>
    <link rel="shortcut icon" th:href="@{/img/Group 16.png}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="bg-light">
    
    <header th:replace="fragments/headerInternal :: header_internal"></header>

    <div class="row mt-5">
        <div class="flex-shrink-0">
            <nav th:replace="fragments/sidebarSecondary :: sidebar_second"></nav>
        </div>

        <main class="flex-nowrap d-flex">
            <div class="col-md-13 ms-sm-auto px-md-2">
                <div class="pt-1">
                    <a th:href="@{/main-center}" class="link-dark">
                        <svg width="14" height="12" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8 1L1 8L8 15M1 8H17H1Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>  
                    </a>
                </div>
                
                <div class="row">

                    <div class="modal-mod-var modal-signin position-static d-block col-7" th:each="prod : ${product}">
                        <div class="modal-dialog modal-dialog-big">
                            <div class="modal-content rounded-4 expand-max">
    
                                <div class="modal-body p-3 pb-5 border-bottom-0">
                                    
                                    <img th:src="@{(${prod.src})}" class="border-img img-tm">

                                    <div class="ps-3 pt-4 pe-4">
                                        <div>
                                            <h5 class="fw-semibold mb-1">
                                            	<span th:text="${prod.name}"></span>
                                            </h5>
                                                <small class="lh-sm fw-normal fs-7">
                                                  <span th:text="${prod.salesman.fantasy_name}"></span>
                                                </small>
                                            <div class="mb-2 lh-1 mt-1">
                                                <small class="h-small fw-semibold lh-sm fs-8">
                                                    Menor preço
                                                </small>
                                                <div class="d-lg-flex fw-semibold fs-5">
                                                	<div class="me-1">R$</div>
                                                    <span th:text="${prod.value}"></span>
                                                </div>
                                            </div>
                                            <div class="d-flex distant">
                                                <small class="fw-light lh-sm fs-7">
                                                    <span th:text="${prod.description}"></span>
                                                </small>
                                                <form class="ms-auto d-flex align-items-end" method="POST" th:action="@{/adicionar-produto}" th:object="${product}">
	                                                <div>
	                                                    <div>
	                                                        <div class="d-flex justify-content-center">
	                                                            <a onclick="decrement()" style="cursor: pointer;">
	                                                                <svg width="29" height="4" viewBox="0 0 29 4" fill="none" xmlns="http://www.w3.org/2000/svg">
	                                                                    <mask id="path-1-outside-1_480_5" maskUnits="userSpaceOnUse" x="0" y="0" width="29" height="4" fill="black">
	                                                                        <rect fill="white" width="29" height="4"/>
	                                                                        <path d="M27 2H2Z"/>
	                                                                    </mask>
	                                                                    <path d="M27 4C28.1046 4 29 3.10457 29 2C29 0.895431 28.1046 0 27 0V4ZM2 0C0.895431 0 0 0.895431 0 2C0 3.10457 0.895431 4 2 4V0ZM27 0H2V4H27V0Z" fill="#FFD500" mask="url(#path-1-outside-1_480_5)"/>
	                                                                </svg>
	                                                            </a>

                                                                <input type="hidden" name="quant">
                                                                <span class="text-center me-2 ms-2" style="width: 30px;" id="quantidade">0</span>

	                                                            <a onclick="increment()" style="cursor: pointer;">
	                                                                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
	                                                                    <path d="M15 0C15.4973 0 15.9742 0.197544 16.3258 0.549175C16.6775 0.900806 16.875 1.37772 16.875 1.875V13.125H28.125C28.6223 13.125 29.0992 13.3225 29.4508 13.6742C29.8025 14.0258 30 14.5027 30 15C30 15.4973 29.8025 15.9742 29.4508 16.3258C29.0992 16.6775 28.6223 16.875 28.125 16.875H16.875V28.125C16.875 28.6223 16.6775 29.0992 16.3258 29.4508C15.9742 29.8025 15.4973 30 15 30C14.5027 30 14.0258 29.8025 13.6742 29.4508C13.3225 29.0992 13.125 28.6223 13.125 28.125V16.875H1.875C1.37772 16.875 0.900806 16.6775 0.549175 16.3258C0.197544 15.9742 0 15.4973 0 15C0 14.5027 0.197544 14.0258 0.549175 13.6742C0.900806 13.3225 1.37772 13.125 1.875 13.125H13.125V1.875C13.125 1.37772 13.3225 0.900806 13.6742 0.549175C14.0258 0.197544 14.5027 0 15 0Z" fill="#FFD500"/>
	                                                                </svg>
	                                                            </a> 
	                                                        </div>
	
	                                                    </div>
	                            							<input type="hidden" th:field="*{id}">
	                            							
	                            						<div>
                                                            <input th:value="@{{user}(user=${session.logado.id})}" type="hidden" name="userId">
                                                        </div>
	
		                        						<div class="mt-3 d-flex justify-content-center">
		                            						<button class="button-w fw-bold py-md-1 fs-9 px-md-4" type="submit">Adicionar</button>
		                        						</div>
	                                                </div>
	                    						</form>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
    
                            </div>
                        </div>
                    </div>
                    
                    <div class="col expand-max">

                        <div class="modal-mod-min modal-signin position-static d-block pb-0">
                            <div class="modal-dialog modal-dialog-min">
                                <a href="#" class="col" style="text-decoration: none; display: flex; color: #000;">
                                    <div class="modal-content rounded-4">
                                            <div class="modal-body p-2 pb-2 ps-2 border-bottom-0 mb-auto row">
                                                    <div class="d-flex align-items-center" style="height: 82px; width: 82px;">
                                                        <img src="..." alt="...">
                                                    </div>

                                                <div class="col px-2 mt-1 col-8">
                                                    <div class="fw-semibold col-12 row">
                                                        <small class="lh-sm">
                                                            Fruta 1
                                                        </small>
                                                        <small class="h-small fw-normal lh-sm">
                                                            Vendedor 1
                                                        </small>
                                                        <div class="mt-3 d-flex">
                                                            <div class="d-lg-flex">
                                                                R$ 0,00
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="modal-mod-min modal-signin position-static d-block py-1 pb-0">
                            <div class="modal-dialog modal-dialog-min">
                                <a href="#" class="col" style="text-decoration: none; display: flex; color: #000;">
                                    <div class="modal-content rounded-4">
                                            <div class="modal-body p-2 pb-2 ps-2 border-bottom-0 mb-auto row">
                                                    <div class="d-flex align-items-center" style="height: 82px; width: 82px;">
                                                        <img src="..." alt="...">
                                                    </div>

                                                <div class="col px-2 mt-1 col-8">
                                                    <div class="fw-semibold col-12 row">
                                                        <small class="lh-sm">
                                                            Fruta 1
                                                        </small>
                                                        <small class="h-small fw-normal lh-sm">
                                                            Vendedor 1
                                                        </small>
                                                        <div class="mt-3 d-flex">
                                                            <div class="d-lg-flex">
                                                                R$ 0,00
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </main> 
    </div>
    <script th:src="@{/js/script.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>