<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Credenciais - Mundo Orgânico</title>
    <link rel="shortcut icon" th:href="@{/img/Group 16.png}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body class="bg-light">

    <header th:replace="fragments/headerInternal :: header_internal"></header>
    
    <div class="row">
        <div class="flex-shrink-0">
            <nav th:replace="fragments/sidebarSecondary :: sidebar_second"></nav>
        </div>
        
        <main class="flex-nowrap d-flex">
            <div class="col-md-13 ms-sm-auto px-md-2">
                <div class="pt-1">
                    <a th:href="@{/meus-dados}" class="link-dark">
                        <svg width="14" height="12" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8 1L1 8L8 15M1 8H17H1Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>  
                    </a>
                </div>
    
                <div class="modal-mod-var2 modal-signin position-static d-block">
                    <div class="modal-dialog">
                        <div class="modal-content rounded-4 expand-min3">

                            <div class="modal-body p-5 border-bottom-0">
                                <h5 class="fw-semibold mb-0 pb-3 d-flex">
                                    Credenciais
                                </h5>

                                <div class="d-flex align-items-end gy-2">
                                    <div class="mt-4 m-3 col">
                                        <div class="d-flex row">
                                            <form method="post" th:action="@{/updateuser-credencial}" th:object="${user}">
                                                <div>
                                                    <div class="col-12 pt-2">
                                                        <label class="form-label hh">Email</label>
                                                        <input class="Text" type="email" th:field="*{email}" name="email" required>
                                                    </div>
                            
                                                    <div class="col-12 pt-2">
                                                        <label class="form-label hh">Senha</label>
                                                        <input class="Text" type="password" th:field="*{password}" name="password" minlength="8" required>
                                                    </div>
                            
                                                    <div class="col-12 pt-2 pb-5">
                                                        <label class="form-label hh">Confirmar senha</label>
                                                        <input class="Text" type="password" th:field="*{passwordValid}" name="passwordValid" minlength="8" required>
                                                    </div>

                                                    <div class="bott col-12">
                                                        <button class="button-w fw-semibold py-wh-1 col-5" type="submit">
                                                            Salvar
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </main> 
    </div>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>