<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mundo Orgânico</title>
    <link rel="shortcut icon" type="image/png" href="../assets/img/Group 16.png"/>
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body class="bg-light">

    <header>
        
    </header>

    <div class="row">
        <div class="flex-shrink-0">
            <nav>
                <div class="d-md-block expand-spand" style="width: 4rem; background-color: #FFFF; position: fixed">
                    <ul class="nav nav-pills justify-content-center mb-auto p-6">
                        <li class="vertical nav-item esp fw-semibold">
                            <a href="#" class="nav-link link-green row nav-link-ac d-flex justify-content-center">
                                Início
                                <svg width="10" height="10" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="5" cy="5" r="5" fill="#15CA55"/>
                                </svg>
                            </a>
                        </li>
            
                        <li class="vertical mt-004 nav-item esp fw-semibold">
                            <a href="#" class="nav-link link-dark">
                                Frutas
                            </a>
                        </li>
            
                        <li class="vertical mt-5 nav-item esp fw-semibold">
                            <a href="#" class="nav-link link-dark">
                                Verduras
                            </a>
                        </li>
            
                        <li class="vertical mt-6 nav-item esp fw-semibold">
                            <a href="#" class="nav-link link-dark">
                                Hortaliças
                            </a>
                        </li>
            
                        <li class="vertical mt-6 nav-item esp fw-semibold">
                            <a href="#" class="nav-link link-dark">
                                Temperos
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        
        <main class="flex-nowrap d-flex">
            <div class="col-md-13 ms-sm-auto px-md-2">
                
    
            
            </div>
        </main> 
    </div>
</body>
</html>