<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedidos - Mundo Orgânico</title>
    <link rel="shortcut icon" type="image/png" href="../assets/img/Group 16.png"/>
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body class="bg-light">
    <header>
        
    </header>

    <div class="row">
        <div class="flex-shrink-0">
            
        </div>
        <main class="flex-nowrap d-flex">
            <div class="col-md-13 ms-sm-auto px-md-2">
                <div class="pt-1">
                    <a href="#" class="link-dark">
                        <svg width="14" height="12" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8 1L1 8L8 15M1 8H17H1Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>  
                    </a>
                </div>
    
                <div class="modal-mod-var modal-signin position-static d-block">
                    <div class="modal-dialog">
                        <div class="modal-content rounded-4 expand">

                            <div class="modal-body p-5 pb-3 ps-5 border-bottom-0 mb-auto row">
                                <h5 class="fw-semibold mb-0 d-flex">
                                    Pedido ####
                                </h5>

                                <div class="table-responsive-sm pt-3 d-flex boxx">
                                    <table class="table table-borderless table-sm" cellpadding="2" cellspacing="0">
                                        <tbody>
                                            <tr>
                                                <td class="col-20 px-0">1x</td>
                                                <td class="col-13">Fruta 1</td>
                                                <td class="col-14 text-end">R$ 0,00</td>
                                            </tr>
                                            <tr>
                                                <td class="col-20 px-0">1x</td>
                                                <td class="col-13">Fruta 1</td>
                                                <td class="col-14 text-end">R$ 0,00</td>
                                            </tr>
                                            <tr>
                                                <td class="col-20 px-0">1x</td>
                                                <td class="col-13">Fruta 1</td>
                                                <td class="col-14 text-end">R$ 0,00</td>
                                            </tr>
                                            <tr>
                                                <td class="col-20 px-0">1x</td>
                                                <td class="col-13">Fruta 1</td>
                                                <td class="col-14 text-end">R$ 0,00</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="d-flex align-items-end gy-2">
                                    <div class="pt-2 col">
                                        <div class="d-flex">
                                            <small class="h-small fw-semibold me-auto">
                                                Subtotal
                                            </small>
                                            <small class="h-small fw-semibold pe-1">
                                                R$ 0,00
                                            </small>
                                        </div>
        
                                        <div class="d-flex">
                                            <small class="fw-semibold me-auto">
                                                Taxa de entrega
                                            </small>
                                            <small class="fw-semibold pe-1">
                                                R$ 0,00
                                            </small>
                                        </div>
    
                                        <div class="d-flex">
                                            <small class="fw-semibold me-auto">
                                                Total
                                            </small>
                                            <small class="fw-semibold pe-1">
                                                R$ 0,00
                                            </small>
                                        </div>
                                    </div>
                                </div>

                                <div class="d-flex align-items-end">
                                    <div class="pt-3">
                                        <small class="h-small fw-semibold me-auto">
                                            Entrega
                                        </small>
                                        <div>
                                            <div>Rua ### #######, n° # - Centro - Abreu e Lima/PE - Casa</div>
                                            <div>Ponto de referência:</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="d-flex align-items-end">
                                    <div class="pt-3">
                                        <small class="h-small fw-semibold me-auto">
                                            Data do pedido
                                        </small>
                                        <div class="d-flex">
                                            <div>00/00/000</div>
                                            <div class="p-1">-</div>
                                            <div>00:00</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="d-flex align-items-end">
                                    <div class="pt-3 pb-4">
                                        <small class="h-small fw-semibold me-auto">
                                            Status do pedido
                                        </small>
                                        <div>Concluído</div>
                                    </div>
                                </div>
                                
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </main> 
    </div>
</body>
</html>