# Spring DATASOURCE 
spring.datasource.url = jdbc:mysql://localhost:3306/
spring.datasource.username = root
spring.datasource.password = 00000

## Hibernate Properties
# The SQL dialect makes Hibernate generate better SQL for the chosen database
spring.jpa.properties.hibernate.dialect = 
# Hibernate ddl auto (create, create-drop, validate, update)
spring.jpa.hibernate.ddl-auto =

spring.jpa.show-sql= 
spring.jpa.properties.hibernate.format_sql=

##Email
spring.mail.host=smtp.gmail.com
spring.mail.port=587
spring.mail.username=mundorganicoc@gmail.com
spring.mail.password=jsooostnzocdbchx
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true
