<nav th:fragment="sidebar_second">
    <div class="d-md-block expand-spand" style="width: 4rem; background-color: #FFFF; position: fixed">
        <ul class="nav nav-pills justify-content-center mb-auto mt-006">
            <li class="vertical nav-item esp fw-semibold">
                <a th:href="@{/main-center}" class="nav-link link-dark">
                    Início
                </a>
            </li>

            <li class="vertical mt-004 nav-item esp fw-semibold">
                <a th:href="@{/frutas}" class="nav-link link-dark">
                    Frutas
                </a>
            </li>

            <li class="vertical mt-5 nav-item esp fw-semibold">
                <a th:href="@{/verduras}" class="nav-link link-dark">
                    Verduras
                </a>
            </li>

            <li class="vertical mt-6 nav-item esp fw-semibold">
                <a th:href="@{/hortalicas}" class="nav-link link-dark">
                    Hortaliças
                </a>
            </li>

            <li class="vertical mt-6 nav-item esp fw-semibold">
                <a th:href="@{/temperos}" class="nav-link link-dark">
                    Temperos
                </a>
            </li>
        </ul>
    </div>
</nav>